{% extends "layout.html" %}
{% block title %}Che cosa c'e' a cena?{% endblock %}
{% block content %}


<div id="about" class="container-fluid">
<div class="row">
<div class="col-sm-8">
<nav>
<h1>Cooking with these ingredients </h1>

<div id=project class="container-fluid bg-grey">
<div class="col-sm-8">
<form action="{{url_for('app.index')}}" method="post" enctype="multipart/form-data">
    <strong>Upload an picture of your ingredients:</strong>
    {{form.photo}}{{form.submit}}

<!--<form action="{{url_for('app.upload', picture=filename)}}" method="post" enctype="multipart/form-data">
-->
</form>
</div>

<div class="col-sm-4">
{% if filenames %}
<form action="{{url_for('app.index')}}" method="get" enctype="multipart/form-data">
{% for f in filenames %}
    <div class="thumbnail">
        <img src="static/images/{{f}}" alt="ImageForm" style="float:above;width:128px;height:128px;">
    </div>
{% endfor %}
<a href=" {{ url_for('app.index', filenames=filenames) }}"> ADD</a>

    <br>
    Now press predict to check the list of ingredients and decide what to cook!
    <button class="btn btn-default btn-lg">PREDICT</button>
    <a href=" {{ url_for('app.upload', picture=filenames) }}"> PREDICT</a>
<!--<a href=" {{ url_for('app.upload', picture=filename) }}"> </a>-->
</div>
</form>
{% endif %}
</div>

</nav>
</div>
<div class="col-sm-4">
<h2>Examples of ingredients</h2>
<div class="thumbnail">
    <img src="static/images/samples/tomato.jpg" alt="Tomato" style="width:128px;">
</div>
<div class="thumbnail">
    <img src="static/images/samples/egg.jpg" alt="Egg" style="width:128px;">
</div>

<div class="thumbnail">
    <img src="static/images/samples/zucchini.jpg" alt="Zucchini" style="width:128px;">
</div>

<!--  <span class="glyphicon glyphicon-signal logo"></span>-->
</div>
</div>

</header>
</div>

<!--Capstone Project -->
<div id=project class="container-fluid bg-grey">
  <h2>Capstone project Data Incubator 2018</h2>
  <h4><strong>Image object identification:</strong> <a href=" {{ url_for('app.info') }}">Find food in
  images with a convolutional neural networn (CNN)</a></h4>
  <p><strong>Recommendation</strong> Find a recipe </p>
</div>

<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <p><span class="glyphicon glyphicon-map-marker"></span> Bruxelles, Belgium</p>
  <p><a href=mailto:chiara.bianchin11@gmail.com <span class="glyphicon glyphicon-envelope"></span> chiara.bianchin11 at gmail.com </a></p>
  <p><span class="glyphicon glyphicon-envelope"></span> </p>
</div>



{% endblock content %}