{% extends "layout.html" %}
{% block title %}Che cosa c'e' a cena?{% endblock %}
{% block content %}


<div id="about" class="container-fluid bg-grey">

    <div class="row">

        <div class="col-sm-8">

            <h1>Cooking with these ingredients </h1>


            <div class="col-sm-6">
                <form action="{{url_for('app.index')}}" method="post" enctype="multipart/form-data">
                    <h3><strong>Upload a picture of your ingredients:</strong></h3>
                    <h4>
                    <p>{{form.photo}}</p>
                    <p>{{form.link}}</p>
                    <p>{{form.submit}}</p>
                    </h4>
                <!--<form action="{{url_for('app.upload', picture=filename)}}" method="post" enctype="multipart/form-data">
                -->
                </form>
                <form action="{{url_for('app.index')}}" method="post" enctype="multipart/form-data">
                    <h3><strong>Or shoot a photo with your camera on Android</strong></h3>
                    <p> (iPhone owner, you're on your own, but check <a href="http://osxdaily.com/2017/09/29/change-iphone-camera-default-image-format-jpeg-heif/"> this</a>)</p>
                    <h4><input type="file" accept="image/*" capture="camera">
                    <!--<input type="file" name="photoshot" accept="image/*" capture="environment">-->
                    <input type="file" name="photoshot" accept="image/*" capture="environment">
                    <input type="submit" value="Upload from camera">
                    </h4>
                </form>



            </div>
            <div class="col-sm-6">
                {% if filenames %}

                <form action="{{url_for('app.index')}}#about" method="get" enctype="multipart/form-data">
                    <div class="thumbnail">
                        <img src="static/images/{{filenames}}" alt="ImageForm" style="float:above;">
                    </div>
                </form>
                {% endif %}
                <!-- TODO Add here moving images-->
           </div>

           <div class="col-sm-4 text-center">

                {% if filenames %}
                    <a href=" {{ url_for('app.upload', picture=filenames) }}" class="btn btn-default  btn-lg"> PREDICT</a>
                {% endif %}
           </div>

        </div>
    </div>
    <div class="row">
        <h2>Known ingredients</h2>
        <div class="col-sm-3">
            <div class="thumbnail">
                <img src="static/images/samples/tomato.jpg" alt="Tomato" style="width:128px;">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <img src="static/images/samples/egg_box.jpg" alt="Egg" style="width:128px;">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <img src="static/images/samples/zucchini.jpg" alt="Zucchini" style="width:128px;">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <img src="static/images/samples/potato.jpg" alt="Potato" style="width:128px;">
            </div>
        </div>
    </div>
</div>


<!--Capstone Project -->
<div class="row">
<div id="content" class="container-fluid text-center">
  <h2>CAPSTONE PROJECT DATA INCUBATOR 2018</h2>
  <h3>Food identification in images with a Convolutional Neural Network (CNN) <a href=" {{ url_for('app.info') }}"> Page</a></h3>
    <h4> The idea </h4>
    <p>Coming back home, hungry... I want something good to eat! Opening the fridge and... :-( </p>
    More Details here picture of a book to link
</div>
</div>

<div class="row">
<div id="contact" class="container-fluid  bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <h3>Chiara Bianchin</h3>
  <p><span class="glyphicon glyphicon-map-marker"></span> Bruxelles, Belgium</p>
  <p><a href=mailto:chiara.bianchin11@gmail.com <span class="glyphicon glyphicon-envelope"></span>  </a> E-mail me</p>

</div>
</div>


{% endblock content %}