{% extends "layout.html" %}
{% block title %}Che cosa c'e' a cena?{% endblock %}
{% block content %}

<div id=project class="container-fluid bg-grey">
    <div class="col-sm-4">
    <div class="thumbnail">
        <img src="static/images/{{filename}}" alt="ImageForm" style="float:left;height:128px;">
    </div>
    </div>
    <div class="col-sm-6">
      <h2>Prediction:</h2>
      <br>
      <h3><ul>
      {% for out in output[0] %}
      <li>
      <b>{{out}}</b>
      </li>
      {% endfor %}
      </ul></h3>
    </div>
</div>

{% endblock %}