{% extends "layout.html" %}
{% block title %}Che cosa c'è a cena?{% endblock %}
{% block content %}

<div id=prediction class="container-fluid bg-grey">
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="static/images/{{filename}}" alt="ImageForm" style="float:center;">
        </div>
        <br>

    </div>
    <div class="col-sm-4">

            <h2>
            {% for out in output %}
              This looks like {{maping["single_ingredients_en"][out]}}
              <div class="thumbnail">
                <img src="static/images/samples/{{out}}.jpg" alt="PredFood" style="width:128px;">

              </div>
            {% endfor %}

            <a target="_blank" href="http://www.giallozafferano.it/ricerca-ricette/{{maping["single_ingredients"][output[0]]}}"><img src="{{url_for('static', filename="GZlogo.png")}}" alt="Rec" width=100px></a>Receipes with {{maping["single_ingredients_en"][output[0]]}}
            </h2>
    </div>
    <div class="col-sm-4">
    <h2>
        <label for="mealtype">Choose the course type</label>
        <form action="{{url_for('app.upload', picture=picture, mealtype=mealtype)}}#recommendation" method="get" enctype="multipart/form-data">

        <select id="mealtype" name="mealtype"> <!--multiple-->
            <option value="Appetizer">Appetizer</option>
            <option value="Pasta">Pasta</option>
            <option value="Main">Main</option>
            <option value="Dessert">Dessert</option>
        </select>

        <input type="hidden" name="picture" value="{{filename}}">
        <input type="submit" value="Select">
        </form>
        <br>
        {% if mltype%}
            <a target="_blank" href="http://www.giallozafferano.it/ricerca-ricette/{{maping["mealtype"][mltype]}}+{{maping["single_ingredients"][output[0]]}}">
            <img src="{{url_for('static', filename="GZlogo.png")}}" alt="Rec" width=100px></a>Receipes for {{mltype}} with {{maping["single_ingredients_en"][output[0]]}}
<!--
            <a target="_blank" href="http://www.giallozafferano.it/ricette-cat/{{mltype}}/{{maping["groups"][output[0]]}}">
            {{mltype}} with {{maping["groups_en"][maping["groups"][output[0]]]}}</a>
-->
        {%endif%}
    </h2>
    </div>
</div>


{% endblock %}